<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Boolzapp</title>
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
      integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="assets/css/style.css" />
  </head>
  <body>
    <div id="app">
      <aside>
        <div class="top-bar">
          <img src="assets/img/user-avatar.jpg" alt="" class="avatar" />
          <div>
            <i class="fas fa-plus"></i>
            <i class="fas fa-ellipsis-h"></i>
          </div>
        </div>
        <div class="search-bar">
          <input
            type="text"
            placeholder="Cerca o inizia una nuova chat"
            v-model="inputSearch"
          />
        </div>
        <div class="contact-list">
          <div
            class="contact"
            :class="{active: focus == index}"
            v-for="(contact, index) in contacts"
            @click="changeChat(index)"
            v-if="contact.name.toLowerCase().includes(inputSearch)"
          >
            <div class="avatar">
              <img :src="contact.avatar" alt="" />
            </div>
            <div class="info">
              <div class="name">{{contact.name}}</div>
              <div class="last-mess" v-if="contact.messages.length > 0">
                {{contact.messages.at(-1).text}}
              </div>
            </div>
            <div class="date" v-if="contact.messages.length > 0">
              {{contact.messages.at(-1).date}}
            </div>
          </div>
        </div>
      </aside>
      <main>
        <div class="top-bar">
          <div>
            <img :src="contacts[focus].avatar" alt="" class="avatar" />
            <span class="name">{{contacts[focus].name}}</span>
          </div>
          <div>
            <i class="fas fa-video"></i>
            <i class="fas fa-phone-alt"></i>
            <i class="fas fa-search"></i>
            <i class="fas fa-ellipsis-h"></i>
          </div>
        </div>
        <div class="chat">
          <div
            class="message"
            :class="message.status"
            v-for="(message, index) in contacts[focus].messages"
          >
            <span class="text">{{message.text}}</span>
            <span class="date">{{message.date}}</span>
            <i
              class="fas fa-angle-down"
              @click="message.openMessageOption = !message.openMessageOption"
            ></i>
            <div class="message-options" v-if="message.openMessageOption">
              <a href="#">Info messaggio</a>
              <a href="#" @click="deleteMessage(index)">Cancella messaggio</a>
            </div>
          </div>
        </div>
        <div class="message-bar">
          <i class="fas fa-grin-alt"></i>
          <i class="fas fa-paperclip"></i>
          <input
            type="text"
            placeholder="Scrivi un messaggio"
            v-model="inputMessage"
            @keyup.enter="sendMessage()"
          />
          <i
            class="fas fa-microphone"
            style="margin-left: 8px"
            v-if="inputMessage == ''"
          ></i>
          <i class="fas fa-paper-plane" @click="sendMessage()" v-else></i>
        </div>
      </main>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/dayjs/1.10.7/dayjs.min.js"></script>
    <script src="assets/js/main.js"></script>
  </body>
</html>
