/* Dichiarazioni generali */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #090e11;
  font-family: Segoe UI, Helvetica Neue, Helvetica, Lucida Grande, Arial, Ubuntu, Cantarell, Fira Sans, sans-serif;
  color: #525252;
}

#app {
  display: flex;
  min-width: 1100px;
}

/* Dichiarazioni comuni in entrambi i lati */

/* Barra superiore */

.top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 25px;
  background: #ededed;
  color: #5a6165;
  font-size: 1.5rem;
}

.top-bar .avatar {
  height: 50px;
  border-radius: 50%;
}

.top-bar > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}


/* Lato sinistro */

aside {
  width: 30%;
  background: #442525;
  border-right: 1px solid #dadada;
}

/* Barra superiore sx */



/* Barra di ricerca */

aside > .search-bar {
  padding: 15px;
  background: #f6f6f6;
  border-bottom: 1px solid #ebebeb;
  box-shadow: 0 5px 5px #000;
  text-align: center;
}

aside > .search-bar > input {
  width: 100%;
  padding: 10px 20px 10px 50px;
  background: #fff url("../img/search.svg") no-repeat 15px;
  background-size: 17px;
  border: none;
  border-radius: 50px;
  outline: none;
  font-family: Segoe UI, Helvetica Neue, Helvetica, Lucida Grande, Arial, Ubuntu, Cantarell, Fira Sans, sans-serif;
  font-size: 0.9rem;
  color: #000;
}

aside > .search-bar > input::placeholder {
  color: #999999;
}

/* Lista contatti */

aside > .contact-list {
  height: calc(100vh - 140px);
  background: #fff;
}

/* Singolo contatto */

aside > .contact-list > .contact {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  padding: 10px;
  border-bottom: 1px solid #f2f2f2;
  cursor: pointer;
}

aside > .contact-list > .contact:hover {
  background: #ebebeb;
  color: #000;
}

aside > .contact-list > .contact > .avatar img {
  width: 50px;
  border-radius: 50%;
}

aside > .contact-list > .contact > .info {
  flex-grow: 2;
  word-break: break-all;
}

aside > .contact-list > .contact > .info > .name {
  font-size: 1rem;
}

aside > .contact-list > .contact > .info > .last-mess {
  font-size: 0.9rem;
}

aside > .contact-list > .contact > .date {
  align-self: flex-start;
  font-size: 0.8rem;

}

/* Lato destro */

main {
  width: 70%;
  background: #302544;
}

/* Barra superiore dx  */

main > .top-bar {
  border-left: 1px solid #dadada;
}

main > .top-bar > div:nth-child(2) i:nth-child(2) {
  padding-right: 30px;
  border-right: 1px solid #9fa3a5;
}